<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/x-icon" href="/lentes.ico">
  <meta charset="UTF-8">
  <title>Login - Viperdbox</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="navbar">
    <div class="logo"><a href="/login.html">VIPERDBOX</a></div>
  </div>
  <div class="auth-container">
    <h2>Iniciar sesión</h2>
    <input type="email" id="email" placeholder="Correo electrónico">
    <input type="password" id="password" placeholder="Contraseña">
    <button onclick="login(document.getElementById('email').value, document.getElementById('password').value)">Ingresar</button>
    <div class="auth-footer">
      ¿No tienes cuenta? <a href="/register.html">Regístrate</a>
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>
</html>